h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

html {
    overflow-y: scroll;
    min-height: 100%;
    position: relative;
    font-family: "Roboto", sans-serif ;
}

body {
    margin-bottom: 60px;
    color: #00687C;

    font-size: 16px;
}

footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.container {
    max-width: 992px;
}

.circle {
  background: #4CE2FF;
  border-radius: 50%;
  font-weight: bold;
  height: 175px;
  width: 175px;
  padding-top: 40px;
  vertical-align: middle;
}

a {
  color: #00ABCC;
  outline: 0;
  text-decoration: none;
}

a#name-link{
  color: #00687C;
  outline: 0;
  text-decoration: none;
}

a:hover#name-link {
  color: #4CE2FF;
  outline: 0;
  text-decoration: none;
}

a:hover {
  color: #4CE2FF;
  outline: 0;
  text-decoration: none;
}

a.circle-link {
  color: #00687C;
  outline: 0;
  text-decoration: none;
}

a:hover.circle-link {
  color: #fff;
  text-decoration: none;
}

a.circle-link-active {
  color: #fff;
  text-decoration: none;
}

.col-center {
    margin: 0 auto;
}

.fa-envelope {
    cursor: pointer;
}

#footer-container {
    margin-top: 15px;
    font-size: 15px;
}

#page-wrap {
    padding-bottom: 30px;
}

#social-media a,
#social-media i{
    color: #777;
    margin-right: 3px;
    text-decoration: none;
}
